*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input[type = "radio"] {
   accent-color: rgb(17, 116, 17) ;
}
a {
    text-decoration: none;
    color:rgb(31, 30, 30);
}
a :hover {
    background-color: rgb(38, 163, 38) ;
}
#cover {
    height: 81vh;
    background-color: rgb(238, 238, 238);
}
header {
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
    /* border: #000 solid 1px; */
    background-color: rgb(38, 163, 38) ;
}
header img {
    width: 30px;
    /* border-radius: 50%; */
}
fieldset {
    margin: 5px 10px;
    background-color: white;
    border-radius: 5px;
}
p{
    margin: 5px 10px;
    color: rgb(38, 163, 38);
    font-weight:  bold;
}

#team {
    padding-top: 10px;
    margin-bottom: 20px;
}
#team fieldset input {
    display: block;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #000;
    padding: 0px 5px;
    margin: 5px 5px;
}

#toss {
    margin-bottom: 20px;
}
#toss fieldset input{
    padding: 0px 5px;
    margin: 5px 5px;
}

#opted {
    margin-bottom: 20px;
}
#opted fieldset input{
    padding: 0px 5px;
    margin: 5px 5px;
}

#overs {
    margin-bottom: 20px;
}
#overs fieldset input {
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #000;
    padding: 0px 5px;
    margin: 5px 5px;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start input{
    border-radius: 4px;
    background-color: rgb(38, 163, 38);
    color: white;
    padding: 5px 10px;
    /* margin: 5px 5px; */
    border: none;   
}
footer {
    /* border: black solid 1px; */
    display: flex;
    justify-content:space-evenly ;
}
#newmatch {
    /* margin: 0px 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#newmatch img {
    width: 30px;
    /* height: 30px; */
}

#history {
    /* margin: 0px 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#history img {
    width: 30px;
    /* height: 30px; */
}

#teams {
    /* margin: 0px 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#teams img {
    width: 30px;
    /* height: 30px; */
}
#mainbox {
    height: 90%;
    display: flex;
    flex-direction: column;
    
}
