*{
    margin: 0;
    padding: 0;
}
#declareform{
    max-width: 60%;
    margin:auto auto;
    border:solid 5px orange;
    align-items: center;
    margin-top: 20vh;
    /* position:absolute; */
    position: relative;
    background-color: #fff;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}
.declareform{
    margin:40px 20px;
}
/* .info{
    font-size: larger;
    background-color: rgb(224, 170, 69);
    padding:5px 300px;
}
.declarescore{
    background-color: rgb(242, 198, 117);
    padding:5px 300px;
} */